<footer class="footer container">
  <div class="border"></div>
  <div class="row">
    <small class="col-8">
      PostPost开源匿名论坛
    </small>
    <ul class="nav justify-content-end col-4">
      <li class="nav-item">
        <%= link_to "帮助", help_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "联系我", contact_path, class: 'nav-link'%>
      </li>
    </ul>
  </div>
</footer>